venv/
__pycache__/
app/__pycache__/
phpliteadmin.php
app/__pycache__
.DS_Store
.cache
migrations/versions/.DS_Store
migrations/.DS_Store
migrations/versions/db0cc09693fa_spotify_user.py
.cache
migrations/__pycache__/env.cpython-311.pyc
.cache
app/__init__.pyc
logs/
