body{
    min-height: 100vh;
    image-orientation: none;
}
#spotify-logo{
    height: 50px;
    margin: 25px;
}
#spotify-icon{
    height: 24px;
    margin: 12px;
}
.usr-img {
    width: 30px;
    height: 30px;
}

button{
    background-repeat: no-repeat;
    background-size:contain;
}

a{
    color: black;
    text-decoration: none;
}
a:link{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}

button.main-btn{
    color: #FFFFFF;
    font-size: 2.5em;
}
button.multiplayer {
    height: 40px;
    width: 40px;
}
button.btn-navbar{
    --bs-btn-padding-y: 8px;
    --bs-btn-border-width: 0;
}

button.controls[data-state="play"] {
    background-image: url('/static/img/play-fill.svg');
}

button.controls[data-state="pause"] {
    background-image: url('/static/img/pause-fill.svg');
}

button.controls[data-state="countdown"] {
    font-weight: bolder;
    color: black;
}

button.controls[data-state="after-countdown"] {
    font-weight: bolder;
    color: black;
}

button.controls[data-state="results"] {
    background-image: url('/static/img/arrow-right-square-fill.svg');
}

button.controls[data-state="loading"] {
    background-image: none;
}

button#mute {
    height: 30px;
    width: 30px;
    background-image: url('/static/img/volume-mute-fill.svg');
}

button#mute[data-state="muted"]{
    background-image: url('/static/img/volume-off-fill.svg');
}

button.like[data-state="not-liked"] {
    background-image: url('/static/img/heart-64.svg');
}

button.like[data-state="fail"] {
    background-image: url('/static/img/exclamation-triangle.svg');
}

button.like[data-state="liked"] {
    background-image: url('/static/img/heart-64-full.svg');
}

button.like[data-state="loading"] {
    background-image: none;
}

button.like div.spinner-border{
    display: none;
}

button.like[data-state="loading"] div.spinner-border{
    display: inherit;
}
