.usr-img {
    width: 30px;
    height: 30px;
}

#main-load-spinner div div {
    width: 3rem;
    height: 3rem;
}

button{
    background-repeat: no-repeat;
    background-size:contain;
}

button.main-btn{
    color: #FFFFFF;
    font-size: 2.5em;
}

button.btn-navbar{
    --bs-btn-padding-y: 8px;
    --bs-btn-border-width: 0;
}

button.controls[data-state="play"] {
    background-image: url('/static/img/play-fill.svg');
}

button.controls[data-state="pause"] {
    background-image: url('/static/img/pause-fill.svg');
}

button.controls[data-state="countdown"] {
    font-weight: bolder;
    color: black;
}

button.controls[data-state="after-countdown"] {
    font-weight: bolder;
    color: black;
}

button.controls[data-state="results"] {
    background-image: url('/static/img/arrow-right-square-fill.svg');
}

button#mute {
    height: 30px;
    width: 30px;
    background-image: url('/static/img/volume-mute-fill.svg');
}

button#mute[data-state="muted"]{
    background-image: url('/static/img/volume-off-fill.svg');
}

button.like[data-state="not-liked"] {
    background-image: url('/static/img/heart-64.svg');
}

button.like[data-state="fail"] {
    background-image: none;
}

button.like[data-state="fail"] {
    background-image: none;
}

button.like[data-state="liked"] {
    background-image: url('/static/img/heart-64-full.svg');
}

button.like[data-state="loading"] {
    background-image: none;
}

button.like div.spinner-border{
    display: none;
}

button.like[data-state="loading"] div.spinner-border{
    display: inherit;
}
