{% extends "error.html" %}

{% block title %}SongGeek: Internal Server Error (500){% endblock %}

{% block body %}
    <div class="row">
        <div class="col col-lg-7 col-xl-6 my-5 mx-auto">
            <div class="card h-100" style="">
                <div class="card-header">
                    <h5>Internal Server Error (500)</h5>
                </div>
                <div class="card-body">
                    <p>
                        An unexpected error has occured. We are working on it. Sorry for the inconvenience!
                    </p>
                </div>
                <div class="card-footer text-center">
                    <a href="{{ url_for('index') }}">
                        <button class="btn btn-primary" type="submit">Go back to main page</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
