{% extends "layout.html" %}

{% block title %}
Home
{% endblock %}

{% block main %}
<div class="col mx-auto">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-3">

        {% for pl in plsts %}
        <div class="col">
            <div class="card  h-100" style="">
                
                <div class="">
                    <img src="{{ pl.img.md }}" class="img-fluid rounded-start" alt="...">
                </div>

                
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="{{ pl.url }}" target="_blank" noopener noreferer>{{ pl.name }}</a>
                    </h5>
                    <p class="card-text"><small class="text-muted">
                        by <a href="{{ pl.owner.url }}" target="_blank" noopener noreferer>
                            {{ pl.owner.name }}</a>
                    </small></p>
                    <p class="card-text">{{ pl.description }}</p>
                </div>

                <div class="card-footer text-center">
                    <form action="/quiz" method="get">
                        <button name="playlist_id" value="{{ pl.id }}" class="btn btn-md btn-primary">Play!</button>
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
        
    </div>
</div>

<!-- add playlist -->

{% endblock %}