{% extends "layout.html" %}

{% block title %}
Log In
{% endblock %}

{% block main %}
<div class="col-2 mx-auto">
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <div>
            {{ form.username.label(class_="form-label") }}
            {{ form.username(class_="form-control") }}
        </div>
        <div>
            {{ form.password.label(class_="form-label") }}
            {{ form.password(class_="form-control") }}
        </div>
        <div>{{ form.remember_me(class_="form-check-input") }} {{ form.remember_me.label(class_="form-check-label") }}</div>
        <div>{{ form.submit(class_="btn btn-primary") }}</div>
    </form>
</div>
{% endblock %}