{% extends "layout.html" %}

{% block title %}
Playlists Manager - {{ plst.name }}
{% endblock %}

{% block main %}
<div class="col mx-auto">
    <!-- playlist details -->


        <div class="card mb-3">
            <div class="row g-0">

                <div class="col-3">
                    <img src="{{ plst.img.md }}" class="img-fluid rounded-start" alt="...">
                </div>

                <div class="col-9">
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="/playlist-manager/{{ plst.id }}">{{ plst.name }}</a>
                        </h4>
                        <p class="card-text"><small class="text-muted">
                            by <a href="{{ plst.owner.url }}" target="_blank" noopener noreferer>
                                {{ plst.owner.name }}</a>
                        </small></p>
                        <p class="card-text">{{ plst.description }}</p>
                    </div>

                    <ul class="list-group list-group-flush">
                        
                        <li class="list-group-item">
                            tracks (active/total): <strong>
                            {{plst.active_tracks() }}/{{ plst.total_tracks() }}</strong>
                        </li>
                    
                        <li class="list-group-item"><span class="font-monospace">{{ plst.updated }}</span></li>
                    </ul>
                    <div class="card-footer d-flex justify-content-evenly align-items-center">
                        <span class="list-group-item font-monospace">{{ plst.id }}</span>
                        <!-- activate/deactivate-->
                        {% if plst.active is eq(1) %}
                        <form action="{{ url_for('deactivate_playlist')}}" method="post">
                            <button name="playlist_id" value="{{ plst.id }}" class="btn btn-sm btn-danger">Deactivate</button>
                        </form>
                        
                        {% else %}
                        <form action="{{ url_for('activate_playlist')}}" method="post">
                            <button name="playlist_id" value="{{ plst.id }}" class="btn btn-sm btn-success">Activate</button>
                        </form>
                        {% endif %}
                        
                        <!-- REMOVE PLAYLIST -->
                        <form action="/remove-playlist" method="post">
                            <button name="playlist_id" value="{{ plst.id }}" class="btn btn-sm btn-danger">Remove</button>
                        </form>
                    </div> 
                </div>
            </div>
        </div>


    <!-- tracks -->
    <table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>id</th>
            <th>name</th>
            <th>album</th>
            <th>previev</th>
        </tr>
    </thead>
    <tbody>
        {% for tr in plst.tracks %}
        <tr>
            <td>{{ tr.id }}</td>
            <td>
                <a href="{{ tr.url }}">{{ tr.name }}</a>
                <ul>
                {% for art in tr.artists %}
                    <li><a href="{{ art.url }}">{{ art.name }}</a></li>
                {% endfor %}
                </ul>
            </td>
            <td>
                <img src="{{ tr.album.img.sm }}" alt="">
                <a href="{{ tr.album.url }}">{{ tr.album.name }}</a>
            </td>
            <td>
                {% if tr.prev_url != None %}
                <audio controls>
                    <source src="{{ tr.prev_url }}" type="audio/mpeg">
                </audio>
                {% else %}
                <span class="badge text-bg-danger">no previev</span>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
</div>
{% endblock %}