{% extends "layout.html" %}

{% block title %}
Playlists Manager - {{ plst.name }}
{% endblock %}

{% block main %}
<div class="col mx-auto">
    <!-- playlist details -->

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>playlist_id</th>            
                <th>name</th>            
                <th>description</th>            
                <th>url</th>                      
                <th>owner_id</th>            
                <th>active</th>
                <th>tracks<br>active/total</th>
                <th>remove</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ plst.id }}</td>
                <td><a href="/playlist-manager/{{ plst.id }}">{{ plst.name }}</a></td>
                <td>{{ plst.description }}</td>
                <td><a href="{{ plst.url }}" target="_blank" noreferrer noopener>{{ plst.url }}</a></td><td>{{ plst.owner_id }}</td>
                <td>{{ plst.active }}</td>
                <td>{{ plst.active_tracks() }}/{{ plst.total_tracks() }}</td>
                <td>
                    <form action="/remove-playlist" method="post">
                        <button name="playlist_id" value="{{ plst.id }}" class="btn btn-sm btn-danger">X</button>
                    </form>
                </td>
            </tr>
        </tbody>
        </table>

    <!-- tracks -->
    <table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>id</th>
            <th>name</th>
            <th>album</th>
            <th>previev</th>
        </tr>
    </thead>
    <tbody>
        {% for tr in plst.tracks %}
        <tr>
            <td>{{ tr.id }}</td>
            <td>
                <a href="{{ tr.url }}">{{ tr.name }}</a>
                <ul>
                {% for art in tr.artists %}
                    <li><a href="{{ art.url }}">{{ art.name }}</a></li>
                {% endfor %}
                </ul>
            </td>
            <td>
                <img src="{{ tr.album.img.sm }}" alt="">
                <a href="{{ tr.album.url }}">{{ tr.album.name }}</a>
            </td>
            <td>
                {% if tr.prev_url != None %}
                <audio controls>
                    <source src="{{ tr.prev_url }}" type="audio/mpeg">
                </audio>
                {% else %}
                <span class="badge text-bg-danger">no previev</span>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
</div>
{% endblock %}