{% extends "layout.html" %}

{% block title %}
{{ pl.name }}
{% endblock %}

{% block main %}

{% block javascript %}
<script>
    const ANSWER_URL = {{ url_for('quiz', pl_id = pl.id, game = game.id)|tojson|safe}};
</script>
{% endblock %}

<div class="col">
    <div class="card  h-100" style="">
        
        <div class="">
            <img src="{{ pl.img.md }}" class="img-fluid rounded-start" style="width: 150px;" alt="...">
        </div>

        
        <div class="card-body">
            <h5 class="card-title">
                <a href="/playlist-manager/{{ pl.id }}">{{ pl.name }}</a>
            </h5>
            <p class="card-text"><small class="text-muted">
                by <a href="{{ pl.owner.url }}" target="_blank" noopener noreferer>
                    {{ pl.owner.name }}</a>
            </small></p>
            <p class="card-text">{{ pl.description }}</p>
            <p class="card-text">
                song: {{ game.status +1 }} / 5 <br>
                <div id="prog_bar" class="progress">
                    
                </div>
                points: <span id="points">{{ game.points() }}</span><br>
                
                <div class="col-3">
                    <audio id="player" preload>
                        <source src="{{ quest.track.prev_url }}" type="audio/mpeg">
                    </audio>
                    <button id="playpause" class="controls btn btn-lg shadow btn-info" data-state="play"></button>
                    <input id="volume" min="0" max="100" value="80" type="range" class="form-range">
                </div>

                    <div class="d-grid gap-2">
                        {% for track in quest.all_answrs() %}
                            <button id="_{{ track.id }}" class="ans-btn btn btn-lg shadow btn-light" name="track_id" value="{{ track.id }}">
                                {{ track.name }}
                            </button>
                        {% endfor %}
                    </div>

            </p>
        </div>

        <div class="card-footer text-center">
            <a href="{{ url_for('quiz', pl_id = pl.id, game=game.id) }}">
                <button class="btn btn-md btn-primary">Next</button>
            </a>
        </div>
    </div>
</div>
{% endblock %}