{% extends "layout.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='quiz-results.css') }}">
<script src="{{ url_for('static', filename='quiz-results.js')}}" defer></script>
{% endblock %}

{% block javascript %}
<script>
    const LIKES_API = {{ url_for('likes') | tojson | safe}};
    const GAME_LVL = {{game.level}};
    const USER_LOGGED = '{{current_user.is_authenticated}}';
</script>
{% endblock %}


{% block title %}
{{ pl.name }}
{% endblock %}

{% block main %}
<div class="col col-md-9 col-lg-7 mx-auto">
    <div class="card  h-100" style="">

        <div class="card-body">
            <div class="row mb-3">
                <div class="col-12 col-sm-4">
                    <img src="{{ pl.img.md }}" class="img-fluid rounded-start" style="width: 150px;" alt="...">
                </div>
            
                <div class="col-12 col-sm-8">
                    <a href="{{ pl.url }}" class="link-dark" data-bs-toggle="tooltip" data-bs-trigger="hover"
                        data-bs-title="Open in Spotify" target="_blank" noopener noreferer>
                        <h5 class="card-title">
                            {{ pl.name }}
                            <img id="spotify-icon" src="/static/img/Spotify_Icon_RGB_Green.png" alt="Spotify icon">
                        </h5>
                    </a>
                    <p class="card-text">{{ pl.description }}</p>
                </div>
            </div>
        
            <div class="row">
                <div class="col">
                    <p class="card-text fw-bold">
                        score: <span class="text-bg-dark rounded px-1">{{ game.points() }} pts</span> x
                        <span id="lvl-badge" class="badge"></span>
                        = {{ game.final_points }} pts
                        {% if current_user.is_anonymous %}
                        <p class="fw-bold text-danger"> 
                            Your score has not been recorded. 
                            <a href="{{ url_for('login') }}">Log in with a Spotify account</a> to save score, 
                            add songs to your Spotify Library, and more!
                        </p>                        
                        {% endif %}
                    </p>
                    <div class="container px-0 ">
                            {% for quest in game.quests %}
                            <div class="row pb-1 mb-2 border-bottom d-flex flex-wrap justify-content-between">
                                <div class="col-3 col-sm-2 col-xl-1 d-flex align-items-center">
                                        <a href="{{ quest.track.album.url }}" data-bs-trigger="hover" data-bs-toggle="tooltip" data-bs-title="Open in Spotify" target="_blank" noopener noreferer>
                                            <img src="{{quest.track.album.img.sm}}" class="cover-img" alt="">
                                        </a>
                                </div>
                                <div class="col-9 col-sm-10 col-xl-11">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col col-12">
                                                <a href="{{ quest.track.url }}" class="link-dark" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-title="Open in Spotify" target="_blank" noopener noreferer>
                                                    <span class="text-bg-light rounded px-1 fw-bold">{{quest.track.name}}</span>
                                                </a> 
                                            
                                                <span>by</span>
                                                {% for artist in quest.track.artists %}
                                                <a href="{{ artist.url }}" class="link-dark" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-title="Open in Spotify" target="_blank" noopener noreferer>
                                                    {{artist.name}}</a>
                                                    {% endfor %}   
                                            </div>
                                            <div class="col col-5 d-flex align-items-center">
                                                    <span class="text-bg-dark rounded px-1"><strong>{{quest.points}} pts</strong></span>
                                            </div>
                                            <div class="col col-4">
                                                    <audio id="player{{loop.index0}}" class="audio-player" preload>
                                                        <source id="audioSource{{loop.index0}}" src="{{ quest.track.prev_url }}" type="audio/mpeg">
                                                    </audio>
                                                    <button id="playpause{{loop.index0}}" class="multiplayer controls btn btn-sm btn-light" data-state="play"></button>
                                            </div>
                                            <div class="col col-3">
                                                {% if current_user.is_authenticated %}
                                                <button id="like{{loop.index0}}" class="multiplayer like btn btn-sm btn-light position-relative" data-state="loading" value="{{quest.track.id}}">                                        
                                                    <div id="spinner{{loop.index0}}" class="spinner-border spinner-border-sm" role="status">
                                                        <span class="visually-hidden">Loading...</span>
                                                    </div>
                                                </button>
                                                {% else %}
                                                <button id="like{{loop.index0}}" class="multiplayer like btn btn-sm btn-light position-relative" data-state="unavailable" data-bs-toggle="modal" data-bs-target="#login-prompt"
                                                    value="{{quest.track.id}}">
                                                    <div id="spinner{{loop.index0}}" class="spinner-border spinner-border-sm" role="status">
                                                        <span class="visually-hidden">Loading...</span>
                                                    </div>
                                                </button>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>

                    <div class="col-3 float-end d-none d-lg-block">
                        <input id="volume" min="0" max="100" value="80" type="range" class="volume-slider form-range">
                    </div>

                </div>
            </div>
        </div>

        <div class="card-footer text-center">
            <a href="{{ url_for('quiz', pl_id = pl.id )}}">
                <button class="btn btn-md btn-primary">New game</button>
            </a>
        </div>
    </div>
</div>
{% endblock %}
