{% extends "layout.html" %}

{% block title %}
{{ pl.name }}
{% endblock %}

{% block main %}
<div class="col">
    <div class="card  h-100" style="">
        
        <div class="">
            <img src="{{ pl.img.md }}" class="img-fluid rounded-start" style="width: 150px;" alt="...">
        </div>

        
        <div class="card-body">
            <h5 class="card-title">
                <a href="/playlist-manager/{{ pl.id }}">{{ pl.name }}</a>
            </h5>
            <p class="card-text"><small class="text-muted">
                by <a href="{{ pl.owner.url }}" target="_blank" noopener noreferer>
                    {{ pl.owner.name }}</a>
            </small></p>
            <p class="card-text">{{ pl.description }}</p>
            <p class="card-text">
                song: {{ game.status +1 }} / 5 <br>
                points: {{ game.points() }}<br>
                <div>
                    <audio controls>
                        <source src="{{ quest.track.prev_url }}" type="audio/mpeg">
                    </audio>
                </div>

                <form action="{{ url_for('answer') }}" method="post">
                    <input type="hidden" id="pl_id" name="pl_id" value="{{ pl.id }}">
                    <input type="hidden" id="game_id" name="game_id" value="{{ game.id }}">
                    <div class="d-grid gap-2">
                        {% for track in quest.all_answrs() %}
                            <button type="submit" name="track_id" value="{{ track.id }}" class="btn btn-md btn-primary">
                                {{ track.name }}
                            </button>
                        {% endfor %}
                    </div>
                </form>

            </p>
        </div>

        <div class="card-footer text-center">
            <a href="{{ url_for('quiz', pl_id = pl.id, game=game.id) }}">
                <button class="btn btn-md btn-primary">Next</button>
            </a>
        </div>
    </div>
</div>
{% endblock %}