{% extends "layout.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='quiz.css') }}">
<script src="{{ url_for('static', filename='quiz.js')}}" defer></script>

{% block javascript %}
<script>
    const ANSWER_URL = {{ url_for('quiz', pl_id = pl.id, game = game.id) | tojson | safe}};
    const RESULTS_URL = {{ url_for('quiz', pl_id = pl.id, game = game.id) | tojson | safe}}
</script>
{% endblock %}

{% endblock %}

{% block title %}
{{ pl.name }}
{% endblock %}

{% block main %}

<div class="col col-md-9 col-lg-7 mx-auto">
    <div class="card h-100" style="">
        
        <div class="card-body">
            <!-- GAME STATUS -->
            <div class="col-12 d-flex mb-1 justify-content-around">
                <div> song: <span id="quest_num">1</span>/5</div>
                <div>points: <span id="points">{{ game.points() }}</span></div>
            </div>
            <div id="prog_bar" class="progress mb-4">
            </div>

            <!-- PLAYLIST INFO -->
            <div class="row mb-3">
                <div class="col-12 col-sm-4 mb-3">
                    <div class="row">
                        <div class="col-6 col-sm-12">
                            <img src="{{ pl.img.md }}" class="img-fluid rounded-start" style="width: 150px;" alt="...">
                        </div>
                        <div class="col-6 col-sm-12">
                            <h5 class="card-title">
                                <a href="/playlist-manager/{{ pl.id }}">{{ pl.name }}</a>
                            </h5>
                            <p class="card-text"><small class="text-muted">
                                by <a href="{{ pl.owner.url }}" target="_blank" noopener noreferer>
                                    {{ pl.owner.name }}</a>
                            </small></p>
                            <p class="card-text">{{ pl.description }}</p>
                        </div>
                    </div>
                </div>

                <!-- PLAYER -->
                <div class="col-12 col-sm-8">
                    <audio id="player" preload>
                        <source id="audioSource" src="{{ quest.track.prev_url }}" type="audio/mpeg">
                    </audio>
                    <a id="results">
                        <button id="playpause" class="controls main-btn w-100 h-100 btn btn-lg btn-light" data-state="play"></button>
                    </a>
                    <input id="volume" min="0" max="100" value="80" type="range" class="form-range">
                </div>
            </div>
                
            <div class="row">
                <!-- QUESTION -->
                <div class="col-12">
                    <span id="question">Guess the title:</span>
                </div>
                <div class="col-12">
                    <div class="d-grid gap-2">
                        {% for track in quest.all_answrs() %}
                            <button id="_{{ track.id }}" class="ans-btn btn btn-lg shadow btn-light" name="track_id" value="{{ track.id }}">
                                {{ track.name }}
                            </button>
                        {% endfor %} 
                    </div>
                </div>
            </div>
        </div>

        <div  class="d-none card-footer text-center">
            
        </div>
    </div>
</div>
{% endblock %}