{% extends "layout.html" %}

{% block head %}
<script src="{{ url_for('static', filename='ranking.js')}}" defer></script>

{% endblock %}

{% block javascript %}
<script>
    const FETCH_URL = {{ url_for('ranking') | tojson | safe}}
</script>
{% endblock %}

{% block title %}
Ranking
{% endblock %}

{% block main %}

<div class="col col-lg-7 col-xl-6 mx-auto">
    <div class="card h-100" style="">
        <div class="card-header">
            <h5>top 10 players</h5>
            <a href='?period=total' role="button" class="btn btn-sm {{ 'btn-primary' if request.args.get('period') == 'total' or not request.args.get('period')  else 'btn-outline-primary' }}">
                    total
            </a>
            <a href='?period=daily' role="button" class="btn btn-sm {{ 'btn-primary' if request.args.get('period') == 'daily' else 'btn-outline-primary' }}">
                    today
            </a>
            <a href='?period=weekly' role="button" class="btn btn-sm {{ 'btn-primary' if request.args.get('period') == 'weekly' else 'btn-outline-primary' }}">
                    this week
            </a>
            <a href='?period=monthly' role="button" class="btn btn-sm {{ 'btn-primary' if request.args.get('period') == 'monthly' else 'btn-outline-primary' }}">
                    this month    
            </a>
        </div>
        <div class="card-body">
            <table id="top-players" class="d-none table table-sm align-middle">
                <thead>
                    <tr>
                        <th>#</th>
                        <th></th>
                        <th>player</th>
                        <th>points</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- top players -->
                </tbody>
            </table>

        </div>
    </div>
</div>
{% endblock %}