{% extends "layout.html" %}

{% block head %}

{% endblock %}

{% block javascript %}
<script>

</script>
{% endblock %}

{% block title %}
DELETE ACCOUNT
{% endblock %}

{% block main %}

<div class="col col-lg-7 col-xl-6 mx-auto">
    <div class="card h-100" style="">
        <div class="card-header">
            <h5>Delete account?</h5>
        </div>
        <div class="card-body">
            <p>
                You are about to permanently delete your SongGeek account.
                Bear in mind, that this process is irreversible.
                We will not be able to restore your account.
                You can always set up a new account - simply login with Spotify.
            </p>
        </div>
        <div class="card-footer text-center">
            <button type="button" class="btn btn-danger">Delete account permanently</button>
        </div>
    </div>
</div>
{% endblock %}