{% extends "layout.html" %}

{% block head %}
<script src="{{ url_for('static', filename='user_details.js')}}" defer></script>

{% endblock %}
{% block javascript %}
<script>
    const FETCH_URL = {{ url_for('user_details') | tojson | safe}}
    const LIKES_API = {{ url_for('likes') | tojson | safe}};
    const QUIZ_URL = {{ url_for('quiz') | tojson | safe}};
</script>
{% endblock %}


{% block title %}
{{ current_user.name }}
{% endblock %}

{% block main %}

<div class="col mx-auto">
    <div class="row g-3 mb-3">

        <!-- user -->
        <div id="user-data" class="col-6 col-sm-4 col-lg-3 col-xl-2 order-first">
            <div class="card h-100" style="">
                <div class="card-header">
                    <h5>{{current_user.name}}</h5>
                </div>
                <div class="">
                    <img src="{{ current_user.img.lg }}" class="card-img" alt="user profile image">
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        total games: 
                        <strong>
                            {{ current_user.count_games() }}
                        </strong>
                    </li>
                    <li class="list-group-item">
                        answers: 
                        <strong>
                            <span class="text-success">{{ corr_answers }}</span>/{{ all_answers }}
                        </strong> 
                        ({{ (corr_answers/all_answers * 100) | round(2, 'common') }}%)
                    </li>
                    <li class="list-group-item">
                        ranking: <strong>{{ (current_user.rank()) | int() }}</strong> ({{current_user.total_points}} pts)
                    </li>
                    <li class="list-group-item text-center">
                        <a href="{{ url_for('remove_user') }}">
                            <button type="button" class="btn btn-sm btn-danger" >
                                remove account
                            </button>
                        </a>
                    </li>
                </ul>
                <div class="card-body">
                </div>
            </div>
        </div>

        <!-- remove account modal -->
        <div class="modal fade" id="removeAccount" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Delete account?</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        You are about to permanently delete your SongGeek account. 
                        Bear in mind, that this process is irreversible. 
                        We will not be able to restore your account. 
                        You can always set up a new account - simply login with Spotify.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Go back</button>
                        <a href="{{ url_for('remove_user') }}">
                            <button type="button" class="btn btn-danger">Delete account permanently</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>



        <!-- top tracks -->
        <div class="col col-sm-8 col-lg-6 order-sm-2 order-3">
            <div class="card h-100" style="">
                <div class="card-header">
                    <h5>top tracks</h5>
                </div>
                <div class="card-body">
                    <div id="tracks-spinner" class="load-spinner card-body">
                        <div class="d-flex h-100 justify-content-center align-items-center">
                            <div class="spinner-border my-auto"></div>
                        </div>
                    </div>
                    <table id="top-tracks" class="d-none table table-sm align-middle">
                        <thead>
                            <tr>
                                <th></th>
                                <th></th>
                                <th class="text-center">track</th>
                                <th>pts</th>
                                <th class="text-center">play</th>
                                <th class="text-center">like</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- top tracks rows here -->
                        </tbody>
                    </table>
                    <div class="col-3 float-end">
                        <input id="volume" min="0" max="100" value="80" type="range" class="d-none form-range">
                    </div>
                    <div class="card-body">
                        Most played tracks with the highest average score.
                    </div>
                </div>
            </div>
        </div>

        <!-- top artists -->

        <div class="col col-sm-6 col-lg-3 order-2 order-sm-3">
            <div class="card  h-100" style="">
                <div class="card-header">
                    <h5>top artists</h5>
                </div>
                <div class="card-body">

                    <table id="top-artists" class="d-none table table-sm align-middle">
                        <thead>
                            <tr>
                                <th></th>
                                <th class="text-center">artist</th>
                                <th>pts</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- top artists rows here -->
                        </tbody>
                    </table>

                    <div id="artists-spinner" class="load-spinner card-body">
                        <div class="d-flex h-100 justify-content-center align-items-center">
                            <div class="spinner-border my-auto"></div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    Most played artists with the highest average score.
                </div>
            </div>
        </div>

        <!-- top playlists -->


    </div>

    <div class="row g-3" id="top-playlists">
        <div class="col col-12 mb-0">
            <h4>top playlists:</h4>
        </div>
    </div>


</div>
{% endblock %}